version: "3.9"

services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - .:/app  # Syncs your local folder with the container
    ports:
      - "8000:8000"
    env_file:
      - .env
    # We will add a 'db' service (Postgres) here later when you are ready to switch from SQLite